<html>
    <head>
        <title>Angularjs - From add and delete</title>
        <link rel="stylesheet" href="css/bootstrap.css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>      
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <body ng-app="Myapp">
        <h2>Angularjs from add, edit and delete</h2>
        <div ng-controller="Customer" style="max-width:900px;">
         
        <!-- Add customer -->    
        <form class="form" ng-submit="savecustomer(customer)">
            <!-- ng-submit to post data to addcustomer function -->
            <h3>Add Customer</h3>
            <p ng-class="editcustomercls">ID : {{customer.id}} <input type="hidden" ng-model="customer.id" /></p>
            <table class="table-condensed">                 
                <tr><td><p>Name :</p><input type="text" ng-model="customer.name" required /></td></tr>
                <tr><td><p>Email :</p><input type="email" ng-model="customer.email" required /></td></tr>
                <tr><td><p>Phone :</p><input type="tel"   ng-model="customer.phone" required  /></td></tr>
                <tr><td><input type="submit" class="btn btn-success" value="Add Customer" ng-class="addcustomercls"/> <input type="submit" class="btn btn-success" value="Update" ng-class="editcustomercls" /></td></tr>                 
            </table>
        </form>
            
        <br/><br/>
        <h2>Customers</h2>
        <!-- Customer List -->
        <h4>Total : {{customers.length}}</h4>
        <table class="table table-bordered">
            <tr>
            <th>ID</th><th>Name</th><th>Email</th><th>phone</th><th>Action</th>
            </tr>
            
            <!-- ng-repeat to list customer from customers object -->
            <tr ng-repeat="customer in customers"> 
                <td ng-bind="customer.id"></td>
                <td ng-bind="customer.name"></td>
                <td ng-bind="customer.email"></td>
                <td ng-bind="customer.phone"></td>
                <td><a href="javascript:void(0)" ng-click="removecustomer(customer)" class="btn btn-danger">Delete</a>  /              
                    <a href="javascript:void(0)" ng-click="editcustomer(customer)" class="btn btn-info">Edit</a></td>
            </tr>
        </table>
    </div>
    </body>
</html>